// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,700");

// Define fonts for body and headers
$body-font: "Roboto", "Helvetica", "sans-serif";
$headers-font: "Roboto", "Helvetica", "sans-serif";


p {
  font-size: 24px;
  font-family: 'Roboto'
}

h1 {
  font-size: 36px;
  font-family: 'Roboto'
}

.p-bold {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  &.my-songs {
    font-size: 32px;
  }
}



.categories-title {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
}

.cards-text {
  font-size: 48px;
  font-weight: bold;
}

.big-logo {
  font-size: 100px;
  font-weight: bold;
  color: white;
}

.play-music {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.medium-logo {
  font-size: 64px;
  font-weight: bold;
}

.scroll-down {
  font-size: 36px;
  font-weight: bold;
}

.catch-phrase {
  font-size: 2.5rem;
  margin-top: 158px;
  letter-spacing: 10px;
}
// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
