// Import page-specific CSS files here.
@import "home";
@import "logo_button_style";

.edit_hover_class a{
  visibility:hidden;
}
.edit_hover_class:hover a {
  visibility:visible;
}


// PROGRESS BAR
.progress-bar {
  width: 100%;
  background-color: white;
}

.progress-purple {
  width: 1%;
  height: 15px;
  background-color: $medium_purple;
}
