// Import page-specific CSS files here.
@import "home";
@import "logo_button_style";

.edit_hover_class a{
  visibility:hidden;
}
.edit_hover_class:hover a {
  visibility:visible;
}


// PROGRESS BAR
.progress-bar {
  background-color: white;
  border-radius: 50px;
  width: 40%;
}

.progress-grey {
  background-color: purple;
  height: 24px;
  width: 10%;
  text-align: left;
  padding-left: 50px;
}
