<div class="footbar">
  <div class="usicz-player d-flex align-items-center">
     <%= link_to image_tag('previous-song-icon.png', height: '60'), 'javascript:void(0)', class: 'u-player-previous' %>
     <%= link_to image_tag('play-song-icon.png', height: '60'), 'javascript:void(0)', class: 'u-player-play' %>
     <%= link_to image_tag('pause-song-icon.png', height: '60'), 'javascript:void(0)', class: 'u-player-pause' %>
     <%= link_to image_tag('next-song-icon.png', height: '60'), 'javascript:void(0)', class: 'u-player-next' %>
    <!-- <img src="/images/play-icon.png" alt="play song"> -->
    <div class="progress-bar">
      <div id="myBar" class="progress-grey">XX %</div>
    </div>
    <!-- <button class="progress-button" onclick="progressMoveInit()">Click Me</button> -->
  </div>
  <div id="deezer-container"></div>
  <div id="player"></div>
  <nav class="main-video">


    <script>
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      window.players = window.players || {};
      function onYouTubeIframeAPIReady() {
        window.players.youtube = new YT.Player('player', {
          height: '100',
          width: '500',
          videoId: 'WM8bTdBs-cw'
        });
      }

      function loadDeezer() {
        var w = document[typeof document.getElementsByClassName === 'function' ? 'getElementsByClassName' : 'querySelectorAll']('deezer-widget-player');
        for (var i = 0, l = w.length; i < l; i++) {
          w[i].innerHTML = '';
          var el = document.createElement('iframe');
          el.src = w[i].getAttribute('data-src');
          el.scrolling = w[i].getAttribute('data-scrolling');
          el.frameBorder = w[i].getAttribute('data-frameborder');
          el.setAttribute('frameBorder', w[i].getAttribute('data-frameborder'));
          el.allowTransparency = w[i].getAttribute('data-allowTransparency');
          el.width = w[i].getAttribute('data-width');
          el.height = w[i].getAttribute('data-height');
          w[i].appendChild(el);
        }

      };

      function initDeezerPlayer() {
        let deezerContainer = document.getElementById("deezer-container")
        deezerContainer.innerHTML = `<div class="deezer-widget-player" data-src="https://www.deezer.com/plugins/player?format=classic&autoplay=true&playlist=true&width=500&height=100&color=ff0000&layout=dark&size=medium&type=tracks&id=60742395&app_id=1" data-scrolling="no" data-frameborder="0" data-allowTransparency="true" data-width="500" data-height="100"></div>`
        loadDeezer();
      };

      initDeezerPlayer();

      document.querySelectorAll(".track-list-row.deezer").forEach((element) => {
        element.addEventListener("click", (event) => {
          let songId = element.dataset.id;
          let deezerContainer = document.getElementById("deezer-container");

          deezerContainer.querySelector('iframe').src = `https://www.deezer.com/plugins/player?format=classic&autoplay=true&playlist=true&width=500&height=100&color=ff0000&layout=dark&size=medium&type=tracks&id=${songId}&app_id=1`
          deezerContainer.querySelector('iframe').click();
        })
      })
    </script>

  </nav>
</div>
