<div class="footbar">
  <div id="player"></div>
  <nav class="main-video">
    <script>
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      window.players = window.players || {};
      function onYouTubeIframeAPIReady() {
        window.players.youtube = new YT.Player('player', {
          height: '200',
          width: '500',
          videoId: '2lAe1cqCOXo'
        });
      }
    </script>

  </nav>
</div>
