<div class="modal fade" id="loading-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog full-screen-dialog d-flex justify-content-center align-items-center" role="document">
      <div class="lds-ring py-5">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
  </div>
</div>


<!-- <html>
    <head>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <div class="vue">
            <span class="outer"></span>
            <span class="middle"></span>
            <span class="inner"></span>
        </div>
    </body>
</html> -->
