<!-- PRELOADER IS LOADING ACTUAL IMAGES TO SHOW FUNCTIONALITY. BROWSER CACHES IMAGES AFTER FIRST LOAD SO SUBSEQUENT LOADS WILL BE FASTER. -->

<!-- RELOAD PEN OR CLICK A COLOR THUMBNAIL TO CHANGE THE SKIN -->

<!-- skins -->
<div class="skins">
    <div class="skin" id="$medium_purple"></div>
</div>

<!-- actual preloader -->
<div class="loader">
  <div class="progress-bar"><div class="progress-stripes"></div><div class="percentage">0%</div></div>
</div>

<span>Loading...</span>
