<div class="hero-section">
  <p class="d-flex justify-content-end">
    <% if current_user %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path, method: :get %>
    <% end %>
  </p>
  <div class="hero-title">
    <div class="big-logo">i!iusicz</div>
    <div class="scroll-down">scroll down <i class="fas fa-angle-double-down"></i></div>
  </div>
</div>


<div class="p-2"> centralize your music in a unique place </div>


<div class="container">
  <div class="row d-flex justify-content-between">
    <div class="cards col-3">1_<br>create your account</div>
    <div class="cards col-3">2_<br>import your songs</div>
    <div class="cards col-3">3_<br>listen to your music</div>
  </div>
</div>
