<%# render 'shared/sidebar' %>

<div class="container">
  <p>you cant see, but theres a Le Wagon logo behind the side bar - navbar needs to be adjusted</p>
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>
