<div class="hero-section">
  <div class="hero-title">
    <div class="big-logo">i!iusicz</div>
    <div class="scroll-down">scroll down <i class="fas fa-angle-double-down"></i></div>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-between">
    <div class="cards col-3">1_<br>create your account</div>
    <div class="cards col-3">2_<br>import your songs</div>
    <div class="cards col-3">3_<br>listen to your music</div>
  </div>
</div>
