<div class="container">
  <p class="hero-title"></p>
  <p class="big-logo">i!iusicz</p>
  <p class="button-white">ok</p>
  <p class="button-white">cancel</p>
  <p class="button-white">import</p>
  <p class="button-black">ok</p>
  <p class="button-black">cancel</p>
  <p class="button-black">import</p>
  <p class="p">first text size</p>
  <p class="p-bold">first text size in bold</p>
  <p class="cards-text">text on the 3 cards</p>
  <p class="big-logo">i!iusicz</p>
  <p class="medium-logo">i!iusicz</p>
  <p class="p-2">second text size</p>
  <p class="categories-title">artist</p>
</div>
