<div style="margin-left: 150px;">
  <h1>PlaylistImports#new</h1>
  <p>Find me in app/views/playlist_imports/new.html.erb</p>
  <%= render 'shared/sidebar' %>

  <div class="d-flex justify-content-center" style="margin-right: 150px;">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle playlist-import" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <strong>Select music source</strong>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Youtube <i class="fab fa-youtube fa-2x"></i></a>
        <a class="dropdown-item" href="#">SoundCloud <i class="fab fa-soundcloud fa-2x"></i></a>
        <a class="dropdown-item" href="#">iTunes<i class="fab fa-itunes fa-2x"></i></a>
        <a class="dropdown-item disabled" href="#">More coming soon!<i class="fas fa-ellipsis-h fa-2x"></i></a>
      </div>
    </div>
  </div>
</div>
