<%= render 'shared/sidebar' %>
<div style="margin-left: 150px;">
  <h1>Songs#new</h1>
  <p>Find me in app/views/songs/new.html.erb</p>

  <table class="table table-borderless table-hover">
    <thead class="">
      <!-- color: #F0EEEE -->
      <!-- hover: #C7C1C1 -->
      <tr>
        <th>song</th>
        <th>artist</th>
        <th>album</th>
        <th>genre</th>
        <th>source</th>
      </tr>
    </thead>

    <tbody>
<!--       <tr>
        <td>Hey Jude</td><td>Beatles</td><td>White Album</td><td>Rock</td><td><i class="fab fa-youtube fa-2x"></i></td>
      </tr>
 -->
        <tr>
          <td><i>song title</i></td>
          <td><i>artist name</i></td>
          <td><i>album name</i></td>
          <td><i>genre</i></td>
          <td><i class="fas fa-music" id="MusicIcon"></i></td>
          <!-- <td><%#song.platform_id %> </td> -->
        </tr>

    </tbody>
  </table>

</div>
