<%= render 'shared/sidebar' %>
<div style="margin-left: 150px;">
  <h1>Songs#import</h1>
  <p> create a route </p>

<div class="hero-title d-flex flex-column mt-5">
    <div>
    <%= image_tag('logob-thin.png', width: '80') %>
    </div>
    <div class="medium-logo">i!iusicz</div>
</div>


<div class="p2 d-flex justify-content-center"> add songs from any stream music service. </div>


</div>
