.button-white {
border: 1px solid black;
border-radius: 50px;
width: 80px;
height: 40px;
box-shadow: 0 10px 30px rgba(0,0,0,.1);
background: white;
color: black;
text-align: center;
padding: 8px;
font-weight: bold;
}

.button-black {
border: 1px solid black;
border-radius: 50px;
width: 80px;
height: 40px;
box-shadow: 0 10px 30px rgba(0,0,0,.1);
background: black;
color: white;
text-align: center;
padding: 8px;
font-weight: bold;
}
