.btn {
  border-radius : 45px;
  font-weight: bold;
   &:hover {
      color:purple;
      background: white !important;
      font-weight: bold;
    }
}

.btn-listen {
  border-radius : 45px;
  width: 200px;
  height: 75px;
  color: purple;
  font-size: 26px;
  font-weight: bold;
  background: white;
  top: 50%;
   &:hover {
      color:white !important;
      background: transparent !important;
      border: solid 2px white
    }
}

.btn-listen-second {
  border-radius : 45px;
  width: 200px;
  height: 75px;
  color: white;
  font-size: 26px;
  font-weight: bold;
  background: purple;
  top: 50%;
   &:hover {
      color:purple !important;
      background: white !important;
      border: solid 2px white
    }
}

// .button-listen {
//   border: 1px solid white;
//   border-radius: 50px;
//   width: 200px;
//   height: 75px;
//   background: white;
//   color: transparent;
//   text-align: center;
//   padding: 8px;
//   font-weight: bold;
//   color: purple;
//   font-size: 26px;
//   text-align: center;
// }


.button-rounded {
  border-radius: 50px;
}

.button-white {
  border: 1px solid black;
  border-radius: 50px;
  width: 80px;
  height: 40px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  background: white;
  color: black;
  text-align: center;
  padding: 8px;
  font-weight: bold;
}

.button-black {
  border: 1px solid black;
  border-radius: 50px;
  height: 40px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  background: black;
  text-align: center;
  padding: 8px;
  font-weight: bold;
  text-decoration: none;
  a {
    color: white;
  }
  color: white;
}

.swal-button {
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  background: black;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  outline: none;
   &:hover {
      color:black;
      background: #C9DAE1 !important;
    }
  a {
    color: white;
  }
}

.swal-button--ok {
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  background: white;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  outline: none;
  color: black;
  &:hover {
    color:white;
    background: #C9DAE1 !important;
  }
}

.swal-title {
  color: black;
}

.swal-text {
  color: black;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}

a.nostyle:hover {
font-weight: bold;
color: light_grey;
}

.button-white a {
  color: black;
}

.button-white:hover {
  background: black;
  border: black;
  color: white;
  a {
    color: white;
  }
}

.button-black:hover {
  background: white;
  a {
    color: black;
  }
}

.swal-button:hover {
  background: white;
  a {
    color: black;
  }
}

.button-homepage {
  border: 1px solid black;
  border-radius: 50px;
  width: 130px;
  height: 50px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  background: black;
  text-align: center;
  padding: 8px;
  font-weight: bold;
  text-decoration: none;
  a {
    color: white;
  }
}

.button-homepage:hover {
  background: white;
  a {
    color: black;
  }
}

#target {
  outline: none;
  a {
    padding: 1em 6em;
  }
}

.button-white-cancel {
  border: 1px solid black;
  border-radius: 50px;
  width: 80px;
  height: 40px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  background: white;
  color: black;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

