.button-rounded {
  border-radius: 50px;
}

.button-white {
  border: 1px solid black;
  border-radius: 50px;
  width: 80px;
  height: 40px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  background: white;
  color: black;
  text-align: center;
  padding: 8px;
  font-weight: bold;
}

.button-black {
  border: 1px solid black;
  border-radius: 50px;
  width: 80px;
  height: 40px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  background: black;
  text-align: center;
  padding: 8px;
  font-weight: bold;
  text-decoration: none;
  a {
    color: white;
  }
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}

.button-white a {
  color: black;
}

.button-white:hover {
  background: black;
  border: black;
  color: white;
  a {
    color: white;
  }
}

.button-black:hover {
  background: white;
  a {
    color: black;
  }
}

.button-homepage {
  border: 1px solid black;
  border-radius: 50px;
  width: 130px;
  height: 50px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  background: black;
  text-align: center;
  padding: 8px;
  font-weight: bold;
  text-decoration: none;
  a {
    color: white;
  }
}

.button-homepage:hover {
  background: white;
  a {
    color: black;
  }
}
