
.playlist-import {
  width: 500px;
  font-size: 24px;
  font-weight: bold;
}
.dropdown-item i {
  text-align: right;
}
.show {
  width: 500px;
}
.field {
  text-align: right;
  width: 50vw;
  height: 60px;
}
// .dropdown-toggle::after {
//     display: inline-block;
//     width: 0;
//     height: 0;
//     margin-left: .3em;
//     vertical-align: middle;
//     content: "";
//     border-top: .3em solid;
//     border-right: .3em solid transparent;
//     border-left: .3em solid transparent;
//     float: right;
//     margin-top: 8px;
// }
