.footbar {
  background:$light_gray; //#F0EEEE; // sidebar bg
  border-top:1px solid #e5e5e5;
  position:fixed;
  right:0;
  bottom:0;
  width:100vw;
  height:115px; // footbar size
  overflow:hidden;
  z-index:998;
}

.main-video {
  position: fixed;
  bottom: 0;
  border: 1px solid $dark_white;
  z-index:999;
}
