
.full-screen-dialog {
  height: 90vh
}

.lds-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 16px solid #CB40FF;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 1, 0.5, 0.5) infinite;
  border-color: #9239E5 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// body {
  // background: radial-gradient(circle at center, #e8e8e8, white);
// }

