@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.main-menu:hover,nav.main-menu.expanded {
width:135px; // expanded sidebar (original 250px)
overflow:visible;
}

.main-menu {
  background:$light_gray; // sidebar bg
  // border-right:1px solid #e5e5e5;
  position:fixed;
  left:0;
  top:0;
  height:100vh;
  width:58px; // sidebar size
  overflow:hidden;
  -webkit-transition:width .05s linear;
  transition:width .05s linear;
  -webkit-transform:translateZ(0) scale(1,1);
  z-index:1000;
}

#usicz-logo {
  a {
    margin-left: -10px;
  }
}

.main-menu>ul {
  margin: 16px 8px;
}

.main-menu li {
  position: relative;
  display: block;
  width: 120px;
}

.main-menu li>a {
  position:relative;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color:#333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-decoration:none;
  -webkit-transform:translateZ(0) scale(1,1);
  -webkit-transition:all .1s linear;
  transition:all .1s linear;
}

.main-menu .nav-icon {
  position:relative;
  display:table-cell;
  width:60px;
  height:36px;
  text-align:center;
  vertical-align:middle;
  font-size:18px;
}

.main-menu .nav-text {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:190px;
  font-family: 'Roboto', sans-serif;
  padding-left: 14px;
  font-weight: bold;
  // &:hover {
  //   color: $light_purple;
  // }
}

.main-menu .nav-text-sm {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:190px;
  font-family: 'Roboto', sans-serif;
  padding-left: 12px;
  // &:hover {
  //   color: $light_purple;
  // }
}

.main-menu>ul.bottom-buttons {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}

.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
// background-color:#999;
}

#usicz-logo {
  // margin:20px 16px;
}

.logobar-text {
  font-size: 2.3em;
  font-weight:bolder;
}

.main-menu .appear-text { display: none; }
.main-menu:hover .appear-logo { display: none; }
.main-menu:hover .appear-text {
  display: block;
  &:hover .logobar-text {
    color: $light_purple;
  }
}
// .main-menu .appear-logo { display: none; }
// .main-menu .appear-text { display: block; }

// icons
.icon-ms .ms-purple { display: none; }
.icon-ms:hover .ms-gray { display: none; }
.icon-ms:hover .ms-purple { display: inline; }
.icon-ms:hover .text-ms { color: $light_purple; }

.icon-pl .pl-purple { display: none; }
.icon-pl:hover .pl-gray { display: none; }
.icon-pl:hover .pl-purple { display: inline; }
.icon-pl:hover .text-pl { color: $light_purple; }

.icon-tw .tw-purple { display: none; }
.icon-tw:hover .tw-gray { display: none; }
.icon-tw:hover .tw-purple { display: inline; }
.icon-tw:hover .text-tw { color: $light_purple; }

.icon-ig .ig-purple { display: none; }
.icon-ig:hover .ig-gray { display: none; }
.icon-ig:hover .ig-purple { display: inline; }
.icon-ig:hover .text-ig { color: $light_purple; }

.icon-fb .fb-purple { display: none; }
.icon-fb:hover .fb-gray { display: none; }
.icon-fb:hover .fb-purple { display: inline; }
.icon-fb:hover .text-fb { color: $light_purple; }

.icon-so .so-purple { display: none; }
.icon-so:hover .so-gray { display: none; }
.icon-so:hover .so-purple { display: inline; }
.icon-so:hover .text-so { color: $light_purple; }
