tr {
  cursor: pointer;
}

td a {
   display: block;
   border: 0px solid black;
   padding: 16px;
   text-decoration: none;
   width: 106%;
   margin-left: -0.7em;
   margin-top: -0.7em;
   margin-bottom: -1.2em;
   color: black;
}

td a:hover {
  text-decoration: none;
}

// tr td {
//   width: 100%;
//   color: green;
// }

.song-row-long {
  width: 25%;
}

.song-row-small {
  width: 8%;
}
