tr {
  cursor: pointer;
}

td a {
   display: block;
   border: 0px solid black;
   padding: 16px;
   text-decoration: none;
   width: 106%;
   margin-left: -0.7em;
   margin-top: -0.7em;
   margin-bottom: -1.2em;
   color: black;
}

td a:hover {
  text-decoration: none;
}

// tr td {
//   width: 100%;
//   color: green;
// }

.song-row-long {
  width: 30%;
}

.song-row-small {
  width: 3%;
}

// .track-list-row #trash-icon { visibility: hidden; }
// .track-list-row:hover #trash-icon
.track-list-row #trash-icon { opacity: 0.1; }
.track-list-row #trash-icon:hover { opacity: 1; }

.track-list-row #play-icon { opacity: 0.05; }
.track-list-row:hover #play-icon { opacity: 1; }

// .track-list-row #play-icon { display: none; }
// .track-list-row:hover #play-icon { display: block; }
// .track-list-row:active #play-icon { visibility: visible; }
